:root {
  --main-color: #c0392b;
  --body-bg: #242020;
  --box-bg: #221f1f;
  --text-color: #ffffff;

  --nav-height: 60px;
  --space-top: 30px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: "Cairo", sans-serif;
  background-color: var(--body-bg);
  color: var(--text-color);
  padding-top: var(--nav-height);
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.main-color {
  color: var(--main-color);
}
.container {
  max-width: 1920px;
  padding: 0 40px;
  margin: auto;
}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #000000;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-color);
  height: var(--nav-height);
}
.nav a {
  color: var(--text-color);
}

.logo {
  font-size: 2rem;
  font-weight: 900;
}
.nav-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.nav-menu li ~ li {
  margin-left: 30px;
}

.nav-menu a {
  text-transform: uppercase;
}

.nav-menu a:hover {
  color: var(--main-color);
}

.nav-menu a.btn:hover,
a.logo:hover {
  color: unset;
}

.btn {
  color: #ffffff;
  padding: 0.25rem 1.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  display: inline-flex;
  position: relative;
  align-items: center;
}
.btn-hover::before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--main-color);
  transition: 0.3s ease-in-out;
}
.btn-hover:hover::before {
  width: 100%;
}
.btn i,
.btn span {
  z-index: 1;
}
.btn i {
  margin-right: 0.5rem;
}
.hamburger-menu {
  display: none;
  --size: 30px;
  height: var(--size);
  width: var(--size);
  cursor: pointer;
  z-index: 101;
  position: relative;
  /* display: flex; */
  align-items: center;
}
.hamburger {
  position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after {
  width: var(--size);
  height: 3px;
  border-radius: 0.5rem;
  background-color: var(--text-color);
  transition: 0.4s;
}
.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
}

.hamburger::before {
  top: -10px;
}

.hamburger::after {
  bottom: -10px;
}

.hamburger-menu.active .hamburger {
  background-color: transparent;
}

.hamburger-menu.active .hamburger::before {
  transform-origin: top left;
  transform: rotate(45deg);
  left: 6px;
}

.hamburger-menu.active .hamburger::after {
  transform-origin: bottom left;
  transform: rotate(-45deg);
  left: 6px;
}

/* hero-slide-item -------------------------------------------------------*/
.hero-section {
  position: relative;
  bottom: -50px;
}
.hero-section::before {
  position: absolute;
  content: "";
  height: 150px;
  bottom: 100%;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
}
.hero-slide-item {
  padding-top: 40%;
  position: relative;
  /* overflow:hidden; khi chiều cao của box không đủ chứa text thì text bị tràn sẽ được giấu đi*/
  overflow: hidden;
}

.hero-slide-item img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-slide-item-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--text-color);
  display: flex;
}

.item-content-wrapper {
  padding-left: 5rem;
  width: 40%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.item-content-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.item-content-title {
  font-size: 5rem;
  line-height: 5rem;
  font-weight: 900;
}

.movie-infos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: calc(var(--space-top) / 2);
}
.movie-info {
  display: flex;
  align-items: center;
  font-size: -8rem;
  font-weight: 600;
}
.movie-info span {
  margin-left: 5px;
}
.movie-info i {
  color: var(--main-color);
}
.movie-info ~ .movie-info {
  margin-left: 5px;
}

.item-content-description {
  font-size: 1.15rem;
  margin-top: var(--space-top);
  line-height: 1.5rem;
}

.item-action {
  margin-top: var(--space-top);
}
.carousel-nav-center {
  position: relative;
}
.carousel-nav-center .owl-nav button i {
  font-size: 3rem;
}
.carousel-nav-center .owl-nav button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-nav-center .owl-nav .owl-prev {
  position: absolute;
  left: 5px;
}
.carousel-nav-center .owl-nav .owl-next {
  position: absolute;
  right: 5px;
}
.owl-nav button {
  border: none;
  outline: none;
}

.owl-nav button i {
  border-radius: 50%;
}

.owl-nav button i:hover {
  background-color: rgba(150, 107, 206, 0.6);
  color: var(--main-color);
}

.top-down {
  transform: translateY(-50px);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.delay-2 {
  /* delay style*/
  transition-delay: 0.2s;
}

.delay-4 {
  transition-delay: 0.4s;
}

.delay-6 {
  transition-delay: 0.6s;
}

.delay-8 {
  transition-delay: 0.8s;
}
.owl-item.active .top-down {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

/* movie - item --------------------------------------*/
.movie-item {
  display: block;
  position: relative;
  overflow: hidden;
  padding-top: 140%;
  cursor: pointer;
}

.movie-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 0.3s linear;
}

.movie-item:hover img {
  transform: scale(1.2);
}

.movie-item-content {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.8);
}
.movie-item-content::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 70px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.movie-item-title {
  color: var(--text-color);
  font-size: 1.5rem;
  position: relative;
  font-weight: 700;
}

.section-header {
  font-size: 2rem;
  font-weight: 700;
}

/* movies - header*/
.movies-header-box {
  width: 100%;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
  position: relative;
}

.movies-header-box p {
  font-size: 2rem;
  font-weight: 700;
  color: var(--main-color);
}

.movies-header-box::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 100%;
  width: 100%;
  height: 60px;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.add-box {
  margin: 20px 0px;
  margin-top: 100px;
}
/* movies */

.movies-box {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  background-color: rgba(0, 0, 0, 1);
  position: relative;
}
.movies-img {
  width: 100%;
  /* position: relative; */
}

.movies-img img {
  width: 100%;
  /* object-fit: contain;
   object-position: top; */
  height: 100%;
}
.movies-img a {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  background: black;
}
.movies-img a::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 100%;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
}
.quality {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0px 0px 10px 10px;
  padding: 0px 20px;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}

.movies-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movies-box:hover {
  transform: translateY(-1.2rem);
  transition: 0.3s;
}

.movies-box:hover .quality {
  visibility: visible;
  background: black;
  transition: 0.3s ease-in-out;
}
/* btns --------------------------------- */
.btns {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btns a {
  width: 130px;
  height: 40px;
  border: none;
  outline: none;
  color: #fff;
  background-color: rgba(69, 69, 187, 0.466);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-right: 10px;
}
.btns a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
/* footer----------------------------- */
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid rgb(251, 251, 251);
}
footer p {
  font-size: 0.8rem;
  font-weight: 600;
  color: rgba(206, 29, 126, 0.89);
}
footer p:hover {
  color: white;
}
.icon-info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.icon-info a {
  position: relative;
  width: 60%;
}
.icon-info a:hover {
  transform: scale(1.3);
  transition: 0.5s;
}

/* footer end -------------------------------- */
/* responsive */
@media only screen and (max-width: 1280px) {
  html {
    font-size: 14px;
  }
  .hero-slide-item {
    padding-top: 50%;
  }
  .item-content-wrapper {
    width: 50%;
  }
}
@media only screen and (max-width: 850px) {
  html {
    font-size: 12px;
  }
  .hero-slide-item {
    height: max-content;
    padding-top: unset;
  }
  .item-content-wrapper {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    padding-right: 5rem;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .hero-slide-item-content {
    position: relative;
  }
  .hero-slide-item img {
    object-fit: cover;
    /*nếu bị lệch do góc nhìn nhỏ thì object-position:cover; có nghĩa là nhìn bên trên top của img */
    object-position: top;
    height: 100%;
  }
  .item-content-title {
    font-size: 3rem;
  }
  .hamburger-menu {
    display: grid;
  }

  .nav-menu {
    /* display:none; */
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #000000;
    flex-direction: column;
    width: 80%;
    height: 100vh;
    padding: 20px;
    transition: 0.3s ease-in-out;
  }
  .nav-menu li {
    margin: 10px 30px;
  }
  .nav-menu.active {
    right: 0;
  }
}

@media (max-width: 1100px) {
  .movies-list .movies-box {
    width: 200px;
  }
  .hero-section {
    bottom: 0;
  }
}

@media (max-width: 500px) {
  .movies-list .movies-box {
    width: 150px;
  }
}

@media (max-width: 450px) {
  .movies-list .movies-box {
    width: 70px;
  }

  .hamburger,
  .hamburger::after,
  .hamburger:before {
    width: 15px;
    height: 1px;
  }
  .hamburger:before {
    top: -5px;
  }
  .hamburger:after {
    bottom: -5px;
  }

  .item-content-title {
    font-size: 1.6rem;
  }
  .movie-info {
    font-size: 0.6rem;
    font-weight: 300;
    margin-bottom: 3px;
  }
  .movie-info ~ .movie-info {
    margin-left: 3px;
  }
  .movie-info span {
    margin-left: 3px;
  }
  .item-content-desription {
    display: none;
    font-size: 0.4rem;
  }
  .delay-6 {
    transition-delay: 0.4s;
  }
  .item-action{
    margin-top:5px;
  }
  .movie-item-title{
    font-size: 0.8rem;
  }

  .movies-header-box {
    margin-top: 30px;
  }
  .movies-header-box::before {
    height: 30px;
  }
  .add-box {
    margin-top: 30px;
  }

  .icon-info a {
    position: relative;
    width: 40%;
  }
  .movies-img a {
    font-size: 5px;
    font-weight: 400;
  }

  .movies-header-box p {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .quality {
    font-size: 5px;
    font-weight: 400;
    padding: 0px 5px;
    border-radius: 0px 0px 3px 3px;
  }
  .btns a {
    width: 50px;
    height: 20px;
    font-size: 0.7rem;
    border-radius: 5px;
    margin-bottom: 20px;
  }
}
