/* *{
    box-sizing: inherit;
}
.test{
    background-color: rgb(13, 94, 216);
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

span{
    cursor: pointer;
    display: inline-block;
    position: relative; 
    transition: all ease 0.4s;
    color:white;
}
p {
    text-transform: uppercase;
    color:#fff;
}

.test:hover span::after{
    opacity: 1;
    right:0;
}
.test:hover span{
    padding-right:25px;
}
span:after{
    position: absolute;
    top:-1px;
    right:-30px;
    opacity: 0;
    content:'\00bb';
    color:#fff;
    transition: all ease 0.2s;
}

.test:hover{
    border-radius: 50px;
    transition: all ease 0.5s;
} */
